body {
      margin: 0;
      padding: 0;
    }
h1 {
    
  font-family: "Ballet", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: red;
  text-align: center;

}
li{
    background-color: black;
    display: inline-block;
    width: 16.6%;
    text-align: center;
    color: white;
    font-size: 16px;
    padding: 0px;


}
ol {
font-size: 0%;
padding: 0%;
margin-top: 10px;
}

h2{
    color:blue;
    text-align:right;
    font-size:16px;
    border: 10px dashed blue;
    border-bottom: 1px solid red;
}
h3{
    border-bottom: 1px solid red;




}
main{
    color: burlywood;



}
p{
    color: black;



}
h2#seccion1{

    color: green;


}
p.parrafoNormal{
    color: bisque;
    font-size: 20px;
}



h2#seccion1{

    color: green;


}
p.parrafoNormal{
    color: bisque;
    font-size: 20px;

}
