body {
      margin: 0;
      padding: 0;
    }
h1 {
    
  font-family: "Ballet", cursive;
    font-weight: 400;
    font-size: 24px;
    margin: 0;
    padding: 0;
  color: white;
  text-align: center;
  background-color: black;

}
ol {
font-size: 0%;
padding: 0%;
margin-top: 0px;
border: 3px solid black;
}
li{
    background-color: white;
    display: inline-block;
    width: 20%;
    text-align: center;
    color: white;
    font-size: 16px;
    padding: 0px;
    color: black;

}
h2{
    color:blue;
    text-align:right;
    font-size:16px;
    border: 10px dashed blue;
    border-bottom: 1px solid red;
}
h3{
    border-bottom: 1px solid red;




}
main{
    color: burlywood;



}
p{
    color: black;



}
h2#seccion1{

    color: green;


}
p.parrafoNormal{
    color: bisque;
    font-size: 20px;
}



h2#seccion1{

    color: green;


}
p.parrafoNormal{
    color: bisque;
    font-size: 20px;

}
