body {
      margin: auto;
      padding: 0;
      border: solid black 2px;
      width: 80%;
    }
h1 {
    
  font-family: "Ballet", cursive;
  font-weight: 400;
  font-size: 24px;
  margin: 0;
  padding: 0;
  color: white;
  text-align: center;
  background-color: black;

}
#logo {
    margin-top: 0;
}
#logosesion{
    border: 2px solid white;
    margin-top: 0;
    float: left;
}
ol {
font-size: 0;
padding: 0;
margin-top: 0px;
border: 3px solid black;
}
li{
    box-sizing: border-box;
    background-color: white;
    display: inline-block;
    width: 25%;
    text-align: center;
    color: white;
    font-size: 16px;
    padding: 0;
    color: black;
    border-right: 2px solid black;
    border-top: 2px solid red;
}
a {
  color: inherit;
  text-decoration: none;
  
}
li:hover{
    background-color: rgb(231, 28, 28);
    color: white;
}
h2{
    color:red;
    text-align:center;
    font-size:16px;
    text-decoration: underline 3px dashed red;
}

dl{
    padding: 10px;

}
#seccion1{
    box-sizing: border-box;
    display: flex;
    padding: 20px;
    padding-left: 70px;
}
#seccion2{
    box-sizing: border-box;
    display: flex;
    padding: 20px;
    padding-left: 70px;
}
#seccion3{
    box-sizing: border-box;
    display: flex;
    padding: 20px;
    padding-left: 70px;
}
#seccion4{
    box-sizing: border-box;
    display: flex;
    padding: 20px;
    padding-left: 70px;
}
#juegos{
    padding-right: 4%;
}
#portada{
    width: 225px;
    border: 2px solid red;
}
h3{
    color:red;
    text-align:center;
    font-size:16px;
    text-decoration: underline 3px dashed red;
}
h4{
    color:red;
    text-align:center;
    font-size:16px;
    text-decoration: underline 3px dashed red;
}
h5{
    color:red;
    text-align:center;
    font-size:16px;
    text-decoration: underline 3px dashed red;
}
h6{
    color:red;
    text-align:center;
    font-size:16px;
    text-decoration: underline 3px dashed red;
}
footer{
  box-sizing: border-box;
  color: white;
  background-color: black;
  text-align: center;
  padding: 0px;
  margin: auto;
  font-size: 13px;
}